// Body Stuff

body {
	background-color:rgb(90,0,0);
	background-color:rgba(90,0,0,.9);
	background-image:url('../img/checker-orange.png');
	// padding-top:50px;
	.wrapper {
		@include background-opacity(#eee, .9);
		@include breakpoint(768px) {
			border-right:1px solid #a1a1a1;
			border-left:1px solid #a1a1a1;
			border-right:1px solid rgba(0,0,0,.25);
			border-left:1px solid rgba(0,0,0,.25);
		}
		.header {
			@extend .row;
			@include background-opacity(rgb(90,0,0), .9);
			padding-top:1em;
			padding-bottom:1em;
				.logo {
					@extend .col-xs-12;
					@extend .col-sm-6;
					@extend .col-md-4;
					@extend .col-lg-3;
					text-align:center;
						a {
							@include color-opacity(#fff, .9);
							@include breakpoint(320px) {
								font-size:2em;
								text-transform:uppercase;
								line-height:1.5em;
							}
							&:hover {
								text-decoration:none;
							}
								.with,
								.kyle {
									font-size:4rem;

								}
								.cooking {
									display:block;
									font-size:6rem;
								}
								.with {
									display:inline-block;
								}
								.kyle {
									display:inline-block;
								}
								img {

								}
						}
				//end .logo
				}

				.main-nav {
					@extend .col-xs-12;
					@extend .col-sm-12;
					@extend .col-md-offset-1;
					@extend .col-md-7;
					@extend .col-lg-offset-1;
					@extend .col-lg-8;
					@extend .navbar;
					@extend .navbar-static-top;
					margin-top: 52px;
					margin-bottom: 0;
					.menu-item-has-children:hover > ul {
						display:block;
					}
					&.nav .open > a, &.nav .open > a:hover, &.nav .open > a:focus {
						background-color:transparent;
					}
					.dropdown-menu {
						// background-color:transparent;
						@include background-opacity(rgb(90,0,0), .9);

					}
					// margin-top:1.7em;
						ul {
						padding-left:0;
						float:right;
							li {
								display:inline-block;

								&#menu-item-17 {
									display:none;
								}

									a {
										@include color-opacity(#fff,.9);
										font-size:1.5em;
										font-weight:700;
										text-transform:uppercase;
										&:hover {
											background-color:transparent;
											@include color-opacity(#ddd, .9);
										}
									//end a
								}
							//end li
							}
						//end ul
						}

				//end .nav
				}
		}
		//end header

		.main {
			@extend .row;
				.main-section {
					@extend .col-xs-12;
					@extend .col-sm-9;
					@extend .col-md-9;
					@extend .col-lg-9;
					h1 {

					//h1
					}
					.home-article {
						.page-content {

						}
					//article
					}
				}
				//.msec
			.sidebar {
				@extend .col-xs-12;
				@extend .col-sm-3;
				@extend .col-md-3;
				@extend .col-lg-3;
				@include background-opacity(rgb(45,90,0),.25);
				padding-bottom:1em;

					.sidebar-widget {

					}
					//.sidebar-widget
			}
			//.sidebar
		}
		//.main


		.footer {
			@extend .row;
			@include background-opacity(#ccc, .9);
			height:10em;
			// padding-right:$pie/$gnum;				
			// padding-left:$pie/$gnum;
			padding-right:1em;
			padding-left:1em;
			padding-top:$pie/$gnum;	
				.copyright {
					@extend .col-xs-12;
					@extend .col-sm-6;
					@extend .col-md-4;
					@extend .col-lg-4;
		
				}
		}
		//end footer
	}
	//end wrapper
}
//end body

