// Header Stuff
.logo {
	a {
		img {
		
		}
	}
//end .logo
}

.nav {

	.menu {
	
		ul {
		padding-left:0;
			li {
				display:inline-block;
				
					a {
						font-size:2em;
						font-weight:700;
						text-transform:uppercase;
					//end a
				}
			//end li
			}
		//end ul
		}
	//end .menu
	}
//end .nav
}